.main__tables-container {
  display: flex;
  width: 930px;
  margin: 0 auto;
}
.plans__container-slider {
  justify-content: center;
}
.product__cards-container {
  margin: 0 auto;
  margin-top: 20px;
  height: 152px;
}
.main__product-details{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 20%);
}
.main__product-title {
    grid-column-start: 1;
    grid-column-end: span 2;
}
.one{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}
.two{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.three{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 6;
}
